div, img{
   text-align: center;
}

#key_assign{
   width: 400px;
}

/* .musicsheet .input-group{
   margin-top: 10px;
  margin-left: 20px;
   width: 80%;
  
} */



/* @media screen and (max-height: 375px) {
   #keymap{
      display: none;
   }
   div, img{
      height: 375px
   }
} */